.list-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 740px;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
    background: white;
}

.listproduct-format-main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}

.lisproduct-format{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    align-items: center;
    font-weight: 500;
}

.listproduct-product-icon{
    height: 80px;
}

.listproduct-remove-icon{
    cursor: pointer;
    margin: auto;
    justify-content: center;

}
.listproduct-allproducts{
    overflow-y: auto;
}

.listproduct-allproducts{
    display: grid;
    gap: 10px;
    width: 100%;
    padding: 20px px;
    color: #a19e9e;
    font-size: 15px;
    font-weight: 500;
}
@media (max-width:800px) {
    .list-product{
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
    }
    .listproduct-format-main{
        padding: 15px 0px;
        color: #454545;
        font-size: 12px;
    }
    .listproduct-product-icon{
        height: 60px;
    }
}
.listproduct-edit-button{
    cursor: pointer;
    border-radius: 25px;
    height: 30px;
    text-align: center;
    margin: 10px 10px;

}
.listproduct-remove-button{
    cursor: pointer;
    border-radius: 25px;
    height: 30px;
    text-align: center;
    margin: 10px 10px;
}

/* Form Edit */
.edit-form-itemfield input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: 'Poppins';
    font-size: 14px;
}
.edit-form-selector{
        box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: 'Poppins';
    font-size: 14px;
}

.edit-form-image-preview {

      height: 70px;
    width: 70px;
    border-radius: 10px;
    object-fit: contain;
    margin: 10px 0px;
}

.edit-form-image-preview img {
  max-width: 100%;
  height: auto;
}

.edit-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.edit-form {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-height: 80%;
  overflow-y: auto; /* Enable vertical scrollbar */
    /* Style for custom scrollbar */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f1f1f1; /* Track and handle colors */

}
/* Scroll bar */


/* Style for WebKit browsers (Chrome, Safari) */
.edit-form::-webkit-scrollbar {
  width: 10px; /* Lebar bilah gulir */
}

/* Track */
.edit-form::-webkit-scrollbar-track {
  background: #f1f1f1; /* Warna latar belakang track */
}

/* Handle */
.edit-form::-webkit-scrollbar-thumb {
  background: #888; /* Warna handle */
  border-radius: 5px; /* Border radius handle */
}

/* Handle saat di hover */
.edit-form::-webkit-scrollbar-thumb:hover {
  background: #555; /* Warna handle saat di hover */
}
.edit-form h2 {
  margin-bottom: 20px;
}

.edit-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.edit-form-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.listproduct-edit-button {
  background-color: #457ba0;
  color: white;
}

.listproduct-edit-button:hover {
  background-color: #45718e;
}

.listproduct-remove-button{
  background-color: #f44336;
  color: white;
}
.listproduct-remove-button:hover{
      background-color: #da190b;

}
.edit-form-buttons button[type="submit"] {
  background-color: #457ba0;
  color: white;
}

.edit-form-buttons button[type="submit"]:hover {
  background-color: #45718e;
}

.edit-form-buttons button[type="button"] {
  background-color: #f44336;
  color: white;
}

.edit-form-buttons button[type="button"]:hover {
  background-color: #da190b;
}


